*{background-color:#353535; color:#ffffff;}
*:focus{background-color:#353535; color:white;}
*:hover{background-color:#2A4E6E; color:white;}
#info*{background-color:#353535; color:#ffffff;}
#about*{background-color:#353535; color:#ffffff;}


