#filea *:focus{color:yellow;}
#filea *:hover{color:#2471a3;}

#menu{background-color:#353535; color:#ffffff;}
#filemenu{background-color:#4b4a4a; color:#ffffff}

#renamer{background-color:#353535; color:#ffffff;}
#renamer:focus{background-color:#b7b089; color:black;}


#vbox{background-color:#ccd1d1; color:#353535;}

#button1:hover{color:#45460d;}
#button2:hover{color:#45460d;}

#info * {background-color:#353535; color:#ffffff;}
#about * {background-color:#353535; color:#ffffff;}
