*{background-color:#dcdcdc; color:black;}
*:focus{background-color:#dcdcdc; color:black;}
*:hover{background-color:#2A4E6E; color:black;}
#info*{background-color:#dcdcdc; color:black;}
#about*{background-color:#dcdcdc; color:black;}
#renamer{background-color:#393a36; color:white;}
#scrolled{background-color:#393a36; color:white;}


